<% @properties.collect do |p| %>
    <div>
    <% p.images.each do |image| %>
    <%= image_tag image %>
    <% end %>
    </div>
    
    <%= p.street_address_1 %><br>
    <%= p.description %>
    <%= link_to 'Edit Property', edit_property_path(p) %> |
    <%= link_to 'View Property', property_path(p)%> |
<% end %>

<%= link_to 'New Property', new_property_path %>
