<% @properties.collect do |p| %>
    <div>
    <% p.images.each do |image| %>
    <%= image_tag image %>
    <% end %>
    </div>
    <h4>Address: </h4>
    <%= p.street_address_1 %><br>
    <h4>Description: </h4>
    <%= p.description %><p>
    
    
    
    <%= render 'links', property: p %>
    <%# <%= link_to 'View Property', property_path(p)%>
<% end %>

<%# <%= link_to 'New Property', new_property_path %>
