<h1>Show</h1>

<% @property.images.each do |image| %>
    <%= image_tag image %>
<% end %>
<p>
<%= @property.street_address_1 %><br>
<%= @property.user.email %><br>

<% @property.amenities.each do |amenity| %>
    <%= amenity.title %>
<% end %>
<br>
<%= render @property.reviews %>


<%= link_to 'New Property', new_property_path %>
<%= link_to 'View Properties', properties_path%>
<%= link_to 'Delete Property', property_path(@property), method: :delete %>
<%= link_to 'View Reviews', property_reviews_path(@property)%>