<h1>Show</h1>

<% @property.images.each do |image| %>
    <%= image_tag image %>
<% end %>
<p>
<h3>Address: </h3>
<%= @property.street_address_1 %><br>
<h4>Description:</h4>
<%= @property.description %>
<h4>Owner Contact Info: </h4>
<%= @property.user.email %><br>
<h4>Amenities:</h4>
<% @property.amenities.each do |amenity| %>
    <%= amenity.title %>
<% end %>
<br>
<%= render @property.reviews %>


<%= render 'links', property: @property %>